@font-face {
	font-family: "Baloo Cyrillic";
	src: url("../assets/fonts/baloo_cyrillic.eot");
	src: url("..assets/fonts/baloo_cyrillic.eot?#iefix")
			format("embedded-opentype"),
		url("../assets/fonts/baloo_cyrillic.woff2") format("woff2"),
		url("../assets/fonts/baloo_cyrillic.woff") format("woff"),
		url("../assets/fonts/baloo_cyrillic.ttf") format("truetype"),
		url("../assets/fonts/baloo_cyrillic.svg#baloo_cyrillic") format("svg");
	font-weight: 400;
	font-style: normal;
}

body {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-family: "Baloo Cyrillic", sans-serif;
}
