body {
  &.lock {
    overflow: hidden;
  }
}

section {
  padding-top: 100px;

  &:nth-child(1) {
    padding-top: initial;
  }
}

span.orange {
  color: #ff6b00;
}

.container {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;

  @media (max-width: 1460px) {
    max-width: 1380px;
    padding: 0px 20px;
  }
}

.app {
  max-width: 100vw;
  min-height: 100%;
  overflow: hidden;
  // height: 5000px;
  background: url("../assets/img/background/main.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;

  .main {
    flex: 1 1 auto;
  }
}

.button {
  border-radius: 20px;
  background: #ff6b00;
  box-shadow: 0px 22px 24.6px -13px #b05704;
  display: inline-flex;
  padding: 26px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fff;
  white-space: nowrap;
  font-family: "Core Sans A", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  transition: background 0.3s, box-shadow 0.3s;

  &:hover {
    background: #ff1f00;
    box-shadow: 0px 22px 60px -13px #ee1103;
  }
  @media (max-width: 476px) {
    padding: 22px 38px;
    font-size: 16px;
  }
}

.box-black {
  background: url("/assets/img/background/black.webp") repeat;
  border: 15px solid transparent;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .box-main {
    width: 100%;
    border-radius: 50px;
    padding: 25px;

    background-size: cover;

    &.yellow {
      background: url("/assets/img/background/yellow.webp"),
        lightgray 0px -143.928px / 100% 143.681% no-repeat;
    }

    &.purple {
      background: url("/assets/img/background/purple.webp"),
        lightgray 0px -143.928px / 100% 143.681% no-repeat;
    }

    .box-dash {
      width: 100%;
      padding: 147px 45px 50px;
      border-radius: 20px;

      @media (max-width: 1024px) {
        padding: 107px 25px 30px;
      }
      @media (max-width: 768px) {
        padding: 67px 25px 30px;
      }
      @media (max-width: 476px) {
        padding: 47px 15px 30px;
      }

      &.white {
        border-image: url("/assets/img/background/white_Dash.png") 15 / 15px
          round;
      }

      &.black {
        border-image: url("/assets/img/background/black_Dash.png") 15 / 15px
          round;
      }
    }

    @media (max-width: 1024px) {
      padding: 15px;
    }
  }

  @media (max-width: 768px) {
    border: 8px solid transparent;
  }
}

.box__title {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .title__img {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    transform: rotate(-1.81deg);
  }

  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (max-width: 768px) {
    width: 70%;
  }
  @media (max-width: 476px) {
    width: 80%;
  }
}

// <div class="box__title">
// 							<div class="title__img rules-title">
// 								<img src="./assets/img/rules-title.png" alt="title" />
// 							</div>
// 						</div>
