.collection {
  margin-bottom: 100px;

  .collection__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;

    .header__title {
      color: #0d0a2d;
      font-size: 64px;

      @media (max-width: 1280px) {
        font-size: 48px;
      }

      @media (max-width: 768px) {
        font-size: 36px;
      }
    }

    .swiper-btn-prev {
      cursor: pointer;
      width: 48px;
      position: relative;
      transform: rotate(180deg);
      color: #130f26;
      transition: color 0.3s;

      &:hover {
        color: #ff6b00;
      }

      &::after {
        display: none;
      }

      @media (max-width: 768px) {
        width: 42px;
      }

      @media (max-width: 476px) {
        display: none;
      }
    }

    .swiper-btn-next {
      cursor: pointer;
      width: 48px;
      position: relative;
      color: #130f26;
      transition: color 0.25s;

      &:hover {
        color: #ff6b00;
      }

      &::after {
        display: none;
      }

      @media (max-width: 768px) {
        width: 42px;
      }

      @media (max-width: 476px) {
        display: none;
      }
    }
    @media (max-width: 476px) {
      justify-content: center;
    }
  }

  .collection__content {
    position: relative;

    .collection__swiper {
      position: relative;
      height: 100%;

      .swiper-wrapper {
        align-items: center;
        padding: 50px 0;
        // justify-content: center;

        .swiper-slide {
          transition: all 0.3s;
        }

        .swiper-slide-active {
          transform: scale(1.5);

          @media (max-width: 1280px) {
            transform: scale(1.9);
          }

          @media (max-width: 1024px) {
            transform: scale(2.1);
          }

          @media (max-width: 768px) {
            transform: scale(1.3);
          }

          @media (max-width: 476px) {
            transform: scale(1);
          }
        }
      }

      .img-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: 476px) {
        width: 70%;
      }
    }

    .swiper__bg {
      position: absolute;
      bottom: 0;
      left: 35%;
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 768px) {
        width: 40%;
        left: 30%;
      }
      @media (max-width: 476px) {
        width: 100%;
        left: 0%;
      }

      .bg__name {
        position: absolute;
        top: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        transform: rotate(-3.2deg);
        z-index: 2;

        &::after {
          content: attr(data-name);
          position: absolute;
          font-size: 30px;
        }

        // .wrapper::after {
        // }

        @media (max-width: 768px) {
          top: 85%;
        }
      }
    }
  }
}
