.look {
	margin-top: 20%;

	.frame__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		.look-title {
			// position: relative;
			display: flex;
			justify-content: center;
			position: relative;
			// max-width: 60%;
			margin-bottom: 50px;
			width: 100%;

			.title__rectangles {
				position: absolute;
				bottom: 0;
				width: 100%;
				transform: scale(1.2);
			}

			.title__pic {
				width: 60%;
				transform: rotate(-1.82deg);
				border-radius: 50%;
				box-shadow: 0px 52px 52.2px -16px rgba(100, 16, 4, 0.45);

				@media (max-width: 768px) {
					width: 70%;
				}
				@media (max-width: 476px) {
					width: 80%;
				}
			}
			@media (max-width: 476px) {
				bottom: 50px;
				margin-bottom: initial;
			}
		}

		.steps__title {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			.title__img {
				border-radius: 50%;
				width: 50px;
				height: 50px;
				min-width: 50px;
				min-height: 50px;
				margin-right: 10px;
				box-shadow: 10px 15px 20px 0px rgba(73, 15, 106, 0.64);

				.img {
					border-radius: 50%;
					transform: rotate(-4.69deg) translateX(1px) translateY(1px);
				}

				@media (max-width: 1280px) {
					min-width: 40px;
					min-height: 40px;
					width: 40px;
					height: 40px;
				}
				@media (max-width: 1024px) {
					min-width: 30px;
					min-height: 30px;
					width: 30px;
					height: 30px;
					margin-right: 8px;
				}
				@media (max-width: 476px) {
					min-width: 24px;
					min-height: 24px;
					width: 24px;
					height: 24px;
				}
			}

			.title__text {
				color: #ffed00;
				font-size: 30px;

				@media (max-width: 1280px) {
					font-size: 26px;
				}
				@media (max-width: 1024px) {
					font-size: 20px;
				}
				@media (max-width: 476px) {
					font-size: 18px;
				}
			}
		}

		.block__direction {
			display: flex;
			gap: 36px;

			.direction__column {
				display: flex;
				flex-direction: column;

				.column__title {
					color: #fff;
					font-size: 30px;
					line-height: 37px;
					min-height: 140px;
					margin-bottom: 10px;

					@media (max-width: 1280px) {
						font-size: 26px;
					}
					@media (max-width: 1024px) {
						font-size: 19px;
						min-height: 150px;
					}
					@media (max-width: 768px) {
						min-height: initial;
					}
					@media (max-width: 476px) {
						font-size: 17px;
					}
				}

				.column__steps {
					display: flex;
					flex-direction: column;
					// max-width: calc(50% - 18px);

					.steps__description {
						margin-bottom: 25px;
						color: #fff;
						font-size: 20px;
						list-style-type: disc; /* или другой тип маркера */
						list-style-position: inside;

						@media (max-width: 1280px) {
							font-size: 18px;
						}
						@media (max-width: 1024px) {
							font-size: 16px;
						}
						@media (max-width: 476px) {
							font-size: 14px;
						}
					}
				}
			}
			@media (max-width: 768px) {
				flex-direction: column;
				gap: 20px;
			}
		}
	}
}
