.music {
  .box-black {
    box-shadow: 0px 132px 104.5px -108px rgba(128, 0, 255, 0.22);
  }

  .box__title {
    width: 60%;
    margin-left: auto;

    .music-title {
      box-shadow: 0px 52px 52.2px -16px rgba(89, 12, 149, 0.66);

      @media (max-width: 1280px) {
        width: 80%;
      }
    }

    @media (max-width: 768px) {
      width: 70%;
      margin-left: initial;
    }
    @media (max-width: 476px) {
      width: 80%;
    }
  }

  .music__frame {
    .frame__block {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 65px;

      .block__left {
        width: 40%;
        position: relative;

        .left__picture {
          position: absolute;
          bottom: 0;
          left: 0;
          transform: rotate(-2deg);
          box-shadow: 17px 12px 10.7px -1px rgba(37, 23, 193, 0.25) inset,
            11px 12px 17.3px 0px rgba(0, 0, 0, 0.74) inset,
            0px 40px 12.4px -27px rgba(0, 0, 0, 0.35);
          border-radius: 50%;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      .block__right {
        width: 60%;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;

        .right__music {
          width: 100%;
          border-radius: 20px;
          padding: 15px;
          background: #fff;

          margin-bottom: 40px;
          display: flex;
          flex-direction: column;

          .music__name {
            font-family: "Core Sans A", sans-serif;
            margin-bottom: 8px;
            margin-left: 10px;

            .opacity {
              opacity: 0.5;
            }
          }

          .music__audio {
            width: 100%;
            background: #fff;
            min-height: 50px;
          }
        }
        @media (max-width: 768px) {
          width: 100%;
        }
      }
      @media (max-width: 1280px) {
        gap: 50px;
      }
      @media (max-width: 1024px) {
        gap: 35px;
      }
    }
  }
}
