.promo {
	position: relative;
	background: radial-gradient(
		221.1% 149.38% at 18.62% -53.13%,
		#0a98e3 34.25%,
		#10c7db 60.99%,
		#35e1e1 69.25%,
		#ecffff 82.55%,
		rgba(255, 255, 255, 0) 100%
	);

	.promo__container {
		display: flex;

		.promo__content {
			z-index: 1;
			position: relative;
			width: 100%;
			display: flex;

			.content__left {
				position: absolute;
				top: -5%;
				width: 50%;

				// @media (max-width: 768px) {
				// 	position: static;
				// 	width: 80%;
				// }
			}
			.content__right {
				margin-left: auto;
				width: 60%;

				// @media (max-width: 768px) {
				// 	width: 80%;
				// 	margin: 0;
				// 	margin-top: -50px;
				// }
			}
			// @media (max-width: 768px) {
			// 	align-items: center;
			// 	flex-direction: column;
			// }
		}
	}
	.promo__vector {
		right: 0;
		top: 25%;
		height: 50%;
		position: absolute;

		img {
			height: 100%;
		}
	}
}
