.container {
	width: 100%;
	max-width: 1420px;
	margin: 0 auto;

	@media (max-width: 1460px) {
		max-width: 1380px;
		padding: 0px 20px;
	}
}

.app {
	width: 100%;
	// height: 100%;
	overflow: hidden;
	background: url("/assets/img/teaser_BG.jpg"), center center;
	background-size: cover;
	display: flex;
	flex-direction: column;

	.main {
		flex: 1 1 auto;
	}
}

.promo {
	position: relative;
	background: radial-gradient(
		221.1% 149.38% at 18.62% -53.13%,
		#0a98e3 34.25%,
		#10c7db 60.99%,
		#35e1e1 69.25%,
		#ecffff 82.55%,
		rgba(255, 255, 255, 0) 100%
	);
	margin-bottom: -330px;

	.promo__container {
		display: flex;

		.promo__content {
			z-index: 1;
			position: relative;
			width: 100%;
			display: flex;

			.content__left {
				position: absolute;
				top: 0;
				left: -15%;
				width: 80%;
				z-index: 1;
			}
			.content__right {
				margin-left: auto;
				width: 60%;
			}

			.promo_loyses-1 {
				position: absolute;
				top: 16%;
				left: -190px;
				img {
					height: 100%;
				}
				@media (max-width: 1024px) {
					height: 390px;
				}
			}

			.promo_loyses-2 {
				position: absolute;
				top: 10%;
				right: -198px;
				img {
					height: 100%;
				}
				@media (max-width: 1024px) {
					height: 390px;
				}
			}
		}
	}
	.promo__vector {
		right: 0;
		top: 25%;
		height: 50%;
		position: absolute;

		img {
			height: 100%;
		}
	}
	@media (max-width: 1280px) {
		margin-bottom: -280px;
	}
	@media (max-width: 1024px) {
		margin-bottom: -22%;
	}
}

.timer {
	position: relative;
	z-index: 1;
	margin-bottom: 80px;
	.timer__container {
		&.container {
			max-width: 1420px;
		}
		.timer__content {
			background: url("/assets/img/Black_BG.jpg") repeat;
			border: 15px solid transparent;
			border-radius: 50px;
			position: relative;

			.content__frame {
				padding: 25px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				border-radius: 50px;
				// border: 15px solid var(--Stroke1, #000);
				// border-image: url("/assets/img/Black_BG.jpg") 15 / 15px repeat;
				background: url("/assets/img/yellow-bg.jpg") no-repeat;

				box-shadow: 1px 4px 4px 0px rgba(195, 195, 195, 0.25) inset,
					8px 6px 7.6px 0px rgba(138, 138, 138, 0.25) inset,
					0px 163px 93.4px -116px rgba(255, 230, 0, 0.47);
				font-family: "Baloo Cyrillic", sans-serif;
				color: #000;

				.frame__title {
					position: absolute;
					top: -70px;
					left: 30px;

					@media (max-width: 1280px) {
						width: 400px;
						top: -70px;
						left: 70px;
					}
					@media (max-width: 1024px) {
						width: 350px;
						top: -70px;
						left: 70px;
					}
					@media (max-width: 768px) {
						width: 300px;
					}
					@media (max-width: 505px) {
						width: 200px;
						top: -50px;
						left: 30px;
					}
				}

				.frame__time {
					position: relative;
					width: 100%;
					padding: 63px 43px;
					justify-content: space-between;
					display: flex;
					align-items: center;
					border-radius: 20px;
					border-image: url("/assets/img/dash_Timer.png") 15 / 15px round;

					.time__container {
						width: 100%;
						position: relative;
						z-index: 2;
						justify-content: space-between;
						display: flex;
						align-items: center;
					}

					.time__block {
						width: 100%;

						.block__number {
							color: #000;
							font-size: 230px;
							line-height: 119.35%;
							position: relative;
							text-align: center;

							&::after {
								position: absolute;
								width: 100%;
								bottom: 15px;
								left: 0;
								content: attr(data-type);
								font-size: 50px;
								line-height: 50%;

								@media (max-width: 1024px) {
									font-size: 34px;
									line-height: 129.35%;
								}
								@media (max-width: 860px) {
									font-size: 28px;
									// line-height: 209.35%;
								}
								@media (max-width: 768px) {
									font-size: 20px;
								}
								@media (max-width: 505px) {
									font-size: 18px;
								}
								@media (max-width: 505px) {
									font-size: 16px;
								}
							}
							@media (max-width: 1280px) {
								font-size: 170px;
								line-height: 129.35%;
							}
							@media (max-width: 1024px) {
								font-size: 130px;
								line-height: 149.35%;
							}
							@media (max-width: 860px) {
								font-size: 100px;
								line-height: 150.35%;
							}
							@media (max-width: 768px) {
								font-size: 72px;
								line-height: 200.35%;
							}
							@media (max-width: 505px) {
								font-size: 48px;
								line-height: 255.35%;
							}
							@media (max-width: 450px) {
								font-size: 36px;
								// line-height: 300.35%;
							}
						}
					}
					.time__dotes {
						color: #fe8900;
						font-size: 100px;
						line-height: 25%;
						@media (max-width: 1024px) {
							font-size: 76px;
						}
						@media (max-width: 768px) {
							font-size: 48px;
						}
						@media (max-width: 505px) {
							font-size: 36px;
						}
						@media (max-width: 450px) {
							font-size: 28px;
						}
					}
					@media (max-width: 1280px) {
						padding: 53px 43px;
					}
					@media (max-width: 1024px) {
						padding: 40px 43px;
					}
					@media (max-width: 768px) {
						padding: 15px 18px;
					}
					@media (max-width: 450px) {
						padding: 1px 18px;
					}
				}
				@media (max-width: 768px) {
					padding: 15px;
				}
			}

			.timer__loyses-1 {
				position: absolute;
				right: -170px;
				top: 20%;
				@media (max-width: 768px) {
					width: 160px;
					right: -125px;
				}
				@media (max-width: 505px) {
					width: 100px;
					right: -85px;
				}
			}
			.timer__loyses-2 {
				position: absolute;
				left: -200px;
				top: 30%;
			}
			.timer__loyses-3 {
				position: absolute;
				left: -200px;
				top: -200px;
			}
			@media (max-width: 505px) {
				border: 8px solid transparent;
			}
		}
	}
}

.footer {
	margin-bottom: -6px;
	.footer__container {
		.footer__content {
			position: relative;
			background: url("/assets/img/Black_BG.jpg") repeat;
			border: 15px solid transparent;
			border-bottom: none;
			border-radius: 50px 50px 0px 0px;

			.footer__frame {
				padding: 25px 25px 0px 25px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				border-radius: 50px 50px 0px 0px;
				background: url("/assets/img/Purple_BG.jpg"), no-repeat;

				.frame__dash {
					flex-wrap: wrap;
					gap: 40px;

					position: relative;
					width: 100%;
					padding: 38px 55px 42px;
					justify-content: space-between;
					display: flex;
					align-items: center;

					border-image: url("/assets/img/white_Dash.png") 15 / 15px round;

					.frame__social {
						display: flex;
						gap: 30px;

						.social__link {
							transition: scale 0.2s;
							&:hover {
								scale: 1.2;
							}
						}
						@media (max-width: 680px) {
							justify-content: space-around;
							width: 100%;
							gap: 10px;
						}
						@media (max-width: 568px) {
							flex-wrap: wrap;
							gap: 20px;
							justify-content: flex-start;
						}
						@media (max-width: 413px) {
							flex-wrap: wrap;
							gap: 20px;
							justify-content: space-around;
						}
					}

					.frame__contacts {
						display: flex;
						flex-direction: column;

						.contacts__description {
							color: #fff;
							font-family: "Core Sans A", sans-serif;
							font-size: 14px;
							line-height: 178%;
							margin-bottom: 15px;
							font-style: normal;
							font-weight: 400;
						}

						.contacts__tel {
							color: #ffed00;
							font-family: "Baloo Cyrillic", sans-serif;
							font-size: 30px;
							line-height: 83%;
							transition: color 0.3s, box-shadow 0.4s;

							&:hover {
								color: #ff1f00;
								box-shadow: 0px 22px 60px -13px #ee1103;
							}
						}
					}
					@media (max-width: 568px) {
						padding: 28px 21px;
					}
				}
			}

			.footer__loyses-1 {
				position: absolute;
				top: -100px;
				left: -140px;
				@media (max-width: 1024px) {
					width: 200px;
					left: -70px;
				}
				@media (max-width: 505px) {
					width: 100px;
					top: -50px;
				}
			}
			.footer__loyses-2 {
				position: absolute;
				top: -100px;
				right: -140px;
				@media (max-width: 1024px) {
					width: 200px;
				}
				@media (max-width: 505px) {
					width: 100px;
					top: -40px;
					right: -70px;
				}
			}
			.footer__loyses-3 {
				position: absolute;
				bottom: 0px;
				left: -190px;
				@media (max-width: 1024px) {
					width: 200px;
					// left: -70px;
				}
			}
		}
	}
}

.button {
	border-radius: 20px;
	background: #ff6b00;
	box-shadow: 0px 22px 24.6px -13px #b05704;
	display: inline-flex;
	padding: 26px 44px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	color: #fff;
	font-family: "Core Sans A", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	transition: background 0.3s, box-shadow 0.3s;

	&:hover {
		background: #ff1f00;
		box-shadow: 0px 22px 60px -13px #ee1103;
	}
	@media (max-width: 568px) {
		padding: 20px 28px;
	}
}
