.collection {
  margin-bottom: 100px;
}
.collection .collection__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
}
.collection .collection__header .header__title {
  color: #0d0a2d;
  font-size: 64px;
}
@media (max-width: 1280px) {
  .collection .collection__header .header__title {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .collection .collection__header .header__title {
    font-size: 36px;
  }
}
.collection .collection__header .swiper-btn-prev {
  cursor: pointer;
  width: 48px;
  position: relative;
  transform: rotate(180deg);
  color: #130f26;
  transition: color 0.3s;
}
.collection .collection__header .swiper-btn-prev:hover {
  color: #ff6b00;
}
.collection .collection__header .swiper-btn-prev::after {
  display: none;
}
@media (max-width: 768px) {
  .collection .collection__header .swiper-btn-prev {
    width: 42px;
  }
}
@media (max-width: 476px) {
  .collection .collection__header .swiper-btn-prev {
    display: none;
  }
}
.collection .collection__header .swiper-btn-next {
  cursor: pointer;
  width: 48px;
  position: relative;
  color: #130f26;
  transition: color 0.25s;
}
.collection .collection__header .swiper-btn-next:hover {
  color: #ff6b00;
}
.collection .collection__header .swiper-btn-next::after {
  display: none;
}
@media (max-width: 768px) {
  .collection .collection__header .swiper-btn-next {
    width: 42px;
  }
}
@media (max-width: 476px) {
  .collection .collection__header .swiper-btn-next {
    display: none;
  }
}
@media (max-width: 476px) {
  .collection .collection__header {
    justify-content: center;
  }
}
.collection .collection__content {
  position: relative;
}
.collection .collection__content .collection__swiper {
  position: relative;
  height: 100%;
}
.collection .collection__content .collection__swiper .swiper-wrapper {
  align-items: center;
  padding: 50px 0;
}
.collection .collection__content .collection__swiper .swiper-wrapper .swiper-slide {
  transition: all 0.3s;
}
.collection .collection__content .collection__swiper .swiper-wrapper .swiper-slide-active {
  transform: scale(1.5);
}
@media (max-width: 1280px) {
  .collection .collection__content .collection__swiper .swiper-wrapper .swiper-slide-active {
    transform: scale(1.5);
  }
}
@media (max-width: 1024px) {
  .collection .collection__content .collection__swiper .swiper-wrapper .swiper-slide-active {
    transform: scale(1.7);
  }
}
@media (max-width: 768px) {
  .collection .collection__content .collection__swiper .swiper-wrapper .swiper-slide-active {
    transform: scale(1.2);
  }
}
@media (max-width: 476px) {
  .collection .collection__content .collection__swiper .swiper-wrapper .swiper-slide-active {
    transform: scale(1);
  }
}
.collection .collection__content .collection__swiper .img-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 476px) {
  .collection .collection__content .collection__swiper {
    width: 70%;
  }
}
.collection .collection__content .swiper__bg {
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .collection .collection__content .swiper__bg {
    width: 40%;
    left: 30%;
  }
}
@media (max-width: 476px) {
  .collection .collection__content .swiper__bg {
    width: 100%;
    left: 0%;
  }
}
.collection .collection__content .swiper__bg .bg__name {
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  transform: rotate(-3.2deg);
  z-index: 2;
  transition: all 0.3s;
}
.collection .collection__content .swiper__bg .bg__name::after {
  content: attr(data-name);
  position: absolute;
  font-size: 35px;
  color: #fff;
}
@media (max-width: 1024px) {
  .collection .collection__content .swiper__bg .bg__name::after {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .collection .collection__content .swiper__bg .bg__name::after {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .collection .collection__content .swiper__bg .bg__name {
    top: 85%;
  }
}
.collection .collection__content .swiper__bg .bg__number {
  position: absolute;
  bottom: 80%;
  left: 71%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(6.16deg);
  width: 40%;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .collection .collection__content .swiper__bg .bg__number {
    bottom: 75%;
    left: 70%;
  }
}
@media (max-width: 476px) {
  .collection .collection__content .swiper__bg .bg__number {
    bottom: 80%;
    left: 60%;
    width: 33%;
  }
}
.collection .collection__content .swiper__bg .bg__number::after {
  position: absolute;
  content: attr(data-number);
  font-size: 35px;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .collection .collection__content .swiper__bg .bg__number::after {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .collection .collection__content .swiper__bg .bg__number::after {
    font-size: 24px;
  }
}
.collection .collection__content .swiper__bg .bg__description {
  position: absolute;
  background-color: #ff6b00;
  padding: 20px 22px;
  border-radius: 23px;
  transform: rotate(-2.771deg);
  transition: all 0.3s ease;
  color: #fff;
  font-family: "Core Sans A", sans-serif;
  font-size: 16px;
  font-style: italic;
  bottom: 85%;
  width: 100%;
  min-width: 472px;
  right: 75%;
}
.collection .collection__content .swiper__bg .bg__description::after {
  position: absolute;
  content: "";
  transform: rotate(45deg);
  bottom: -9px;
  right: 25px;
  width: 20px;
  height: 20px;
  background-color: #ff6b00;
}
@media (max-width: 1280px) {
  .collection .collection__content .swiper__bg .bg__description {
    bottom: 85%;
    width: 100%;
    min-width: 400px;
    right: 75%;
  }
}
@media (max-width: 1024px) {
  .collection .collection__content .swiper__bg .bg__description {
    bottom: 80%;
    width: 100%;
    min-width: 300px;
    right: 75%;
    font-size: 14px;
    padding: 12px 13px;
  }
}
@media (max-width: 768px) {
  .collection .collection__content .swiper__bg .bg__description {
    font-size: 14px;
    padding: 12px 13px;
    min-width: 450px;
    top: 102%;
    bottom: initial;
    right: initial;
  }
  .collection .collection__content .swiper__bg .bg__description::after {
    display: none;
  }
}
@media (max-width: 476px) {
  .collection .collection__content .swiper__bg .bg__description {
    font-size: 12px;
    padding: 8px 10px;
    min-width: initial;
    top: 105%;
    right: 0;
  }
  .collection .collection__content .swiper__bg .bg__description::after {
    display: none;
  }
}/*# sourceMappingURL=collection.css.map */