.footer {
  margin-bottom: -6px;
}
.footer .footer__container .footer__content {
  position: relative;
  background: url("/assets/img/background/black.webp") repeat;
  border: 15px solid transparent;
  border-bottom: none;
  border-radius: 50px 50px 0px 0px;
}
.footer .footer__container .footer__content .footer__frame {
  padding: 25px 25px 0px 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
  background: url("/assets/img/background/purple.webp"), no-repeat;
}
.footer .footer__container .footer__content .footer__frame .frame__dash {
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
  width: 100%;
  padding: 38px 55px 42px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  -o-border-image: url("/assets/img/background/white_Dash.png") 15/15px round;
     border-image: url("/assets/img/background/white_Dash.png") 15/15px round;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__social {
  display: flex;
  gap: 30px;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__social .social__link {
  transition: scale 0.2s;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__social .social__link:hover {
  scale: 1.2;
}
@media (max-width: 768px) {
  .footer .footer__container .footer__content .footer__frame .frame__dash .frame__social {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px 20px;
  }
  .footer .footer__container .footer__content .footer__frame .frame__dash .frame__social .social__link {
    width: 20%;
  }
  .footer .footer__container .footer__content .footer__frame .frame__dash .frame__social .social__link img {
    width: initial;
  }
}
@media (max-width: 476px) {
  .footer .footer__container .footer__content .footer__frame .frame__dash .frame__social .social__link {
    width: initial;
  }
}
@media (max-width: 413px) {
  .footer .footer__container .footer__content .footer__frame .frame__dash .frame__social {
    gap: 20px;
    justify-content: space-around;
  }
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__contacts {
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__contacts .contacts__description {
  color: #fff;
  font-family: "Core Sans A", sans-serif;
  font-size: 14px;
  line-height: 178%;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__contacts .contacts__tel {
  color: #ffed00;
  font-family: "Baloo Cyrillic", sans-serif;
  font-size: 30px;
  line-height: 83%;
  transition: color 0.3s, box-shadow 0.4s;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__contacts .contacts__tel:hover {
  color: #ff1f00;
  box-shadow: 0px 22px 60px -13px #ee1103;
}
@media (max-width: 568px) {
  .footer .footer__container .footer__content .footer__frame .frame__dash {
    padding: 28px 21px;
  }
}
.footer .footer__container .footer__content .footer__loyses-1 {
  position: absolute;
  top: -100px;
  left: -140px;
}
@media (max-width: 1024px) {
  .footer .footer__container .footer__content .footer__loyses-1 {
    width: 200px;
    left: -70px;
  }
}
@media (max-width: 505px) {
  .footer .footer__container .footer__content .footer__loyses-1 {
    width: 100px;
    top: -50px;
  }
}
.footer .footer__container .footer__content .footer__loyses-2 {
  position: absolute;
  top: -100px;
  right: -140px;
}
@media (max-width: 1024px) {
  .footer .footer__container .footer__content .footer__loyses-2 {
    width: 200px;
  }
}
@media (max-width: 505px) {
  .footer .footer__container .footer__content .footer__loyses-2 {
    width: 100px;
    top: -40px;
    right: -70px;
  }
}
.footer .footer__container .footer__content .footer__loyses-3 {
  position: absolute;
  bottom: 0px;
  left: -190px;
}
@media (max-width: 1024px) {
  .footer .footer__container .footer__content .footer__loyses-3 {
    width: 200px;
  }
}/*# sourceMappingURL=footer.css.map */