.container {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
}
@media (max-width: 1460px) {
  .container {
    max-width: 1380px;
    padding: 0px 20px;
  }
}

.app {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: url("/assets/img/teaser_BG.webp"), center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.app .main {
  flex: 1 1 auto;
  background: radial-gradient(221.1% 149.38% at 18.62% -53.13%, #0a98e3 34.25%, #10c7db 60.99%, #35e1e1 69.25%, #ecffff 82.55%, rgba(255, 255, 255, 0) 100%);
}

.promo {
  position: relative;
}
.promo .promo__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo .promo__container .promo__title {
  display: flex;
  justify-content: center;
}
.promo .promo__container .promo__title img {
  width: initial;
}
@media (max-width: 768px) {
  .promo .promo__container .promo__title {
    width: 60%;
  }
}
.promo .promo__container .promo__content {
  margin-top: -15px;
  z-index: 1;
  position: relative;
  width: 100%;
  display: flex;
}
.promo .promo__container .promo__content .content__left {
  position: absolute;
  top: 0;
  left: -8%;
  width: 60%;
  z-index: 1;
}
.promo .promo__container .promo__content .content__right {
  margin-left: auto;
  width: 60%;
}
@media (max-width: 768px) {
  .promo .promo__container .promo__content {
    flex-direction: column-reverse;
  }
  .promo .promo__container .promo__content .content__left {
    position: static;
    width: 100%;
    margin-top: -25%;
    margin-left: -5%;
    transform: scale(1.2);
  }
  .promo .promo__container .promo__content .content__right {
    position: static;
    width: 100%;
  }
}
.promo .promo__vector {
  right: 0;
  top: 25%;
  height: 50%;
  position: absolute;
}
.promo .promo__vector img {
  height: 100%;
}
.promo .promo__sun {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.timer {
  position: relative;
  z-index: 1;
  margin-bottom: 140px;
}
.timer .timer__container.container {
  max-width: 1420px;
}
.timer .timer__container .timer__content {
  background: url("/assets/img/Black_BG.webp") repeat;
  border: 15px solid transparent;
  border-radius: 50px;
  position: relative;
}
.timer .timer__container .timer__content .content__frame {
  padding: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 50px;
  background: url("/assets/img/yellow-bg.webp");
  background-size: cover;
  box-shadow: 1px 4px 4px 0px rgba(195, 195, 195, 0.25) inset, 8px 6px 7.6px 0px rgba(138, 138, 138, 0.25) inset, 0px 163px 93.4px -116px rgba(255, 230, 0, 0.47);
  font-family: "Baloo Cyrillic", sans-serif;
  color: #000;
}
.timer .timer__container .timer__content .content__frame .frame__title {
  position: absolute;
  top: -70px;
}
@media (max-width: 1280px) {
  .timer .timer__container .timer__content .content__frame .frame__title {
    width: 400px;
    top: -70px;
  }
}
@media (max-width: 1024px) {
  .timer .timer__container .timer__content .content__frame .frame__title {
    width: 350px;
    top: -70px;
  }
}
@media (max-width: 768px) {
  .timer .timer__container .timer__content .content__frame .frame__title {
    width: 300px;
  }
}
@media (max-width: 505px) {
  .timer .timer__container .timer__content .content__frame .frame__title {
    width: 200px;
    top: -45px;
  }
}
.timer .timer__container .timer__content .content__frame .frame__time {
  position: relative;
  width: 100%;
  padding: 63px 43px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 20px;
  -o-border-image: url("/assets/img/dash_Timer.png") 15/15px round;
     border-image: url("/assets/img/dash_Timer.png") 15/15px round;
}
.timer .timer__container .timer__content .content__frame .frame__time .time__container {
  width: 100%;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.timer .timer__container .timer__content .content__frame .frame__time .time__block {
  width: 100%;
}
.timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number {
  color: #000;
  font-size: 230px;
  line-height: 119.35%;
  position: relative;
  text-align: center;
}
.timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number::after {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0;
  content: attr(data-type);
  font-size: 50px;
  line-height: 50%;
}
@media (max-width: 1024px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number::after {
    font-size: 34px;
    line-height: 129.35%;
  }
}
@media (max-width: 860px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number::after {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number::after {
    font-size: 20px;
  }
}
@media (max-width: 505px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number::after {
    font-size: 18px;
  }
}
@media (max-width: 505px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number::after {
    font-size: 16px;
  }
}
@media (max-width: 1280px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number {
    font-size: 170px;
    line-height: 129.35%;
  }
}
@media (max-width: 1024px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number {
    font-size: 130px;
    line-height: 149.35%;
  }
}
@media (max-width: 860px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number {
    font-size: 100px;
    line-height: 150.35%;
  }
}
@media (max-width: 768px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number {
    font-size: 72px;
    line-height: 200.35%;
  }
}
@media (max-width: 505px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number {
    font-size: 48px;
    line-height: 255.35%;
  }
}
@media (max-width: 450px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__block .block__number {
    font-size: 36px;
  }
}
.timer .timer__container .timer__content .content__frame .frame__time .time__dotes {
  color: #fe8900;
  font-size: 100px;
  line-height: 25%;
}
@media (max-width: 1024px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__dotes {
    font-size: 76px;
  }
}
@media (max-width: 768px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__dotes {
    font-size: 48px;
  }
}
@media (max-width: 505px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__dotes {
    font-size: 36px;
  }
}
@media (max-width: 450px) {
  .timer .timer__container .timer__content .content__frame .frame__time .time__dotes {
    font-size: 28px;
  }
}
@media (max-width: 1280px) {
  .timer .timer__container .timer__content .content__frame .frame__time {
    padding: 53px 43px;
  }
}
@media (max-width: 1024px) {
  .timer .timer__container .timer__content .content__frame .frame__time {
    padding: 40px 43px;
  }
}
@media (max-width: 768px) {
  .timer .timer__container .timer__content .content__frame .frame__time {
    padding: 15px 18px;
  }
}
@media (max-width: 450px) {
  .timer .timer__container .timer__content .content__frame .frame__time {
    padding: 1px 18px;
  }
}
@media (max-width: 768px) {
  .timer .timer__container .timer__content .content__frame {
    padding: 15px;
  }
}
@media (max-width: 505px) {
  .timer .timer__container .timer__content {
    border: 8px solid transparent;
  }
}
@media (max-width: 1024px) {
  .timer {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .timer {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.footer {
  margin-bottom: -6px;
}
.footer .footer__container {
  display: flex;
  position: relative;
  justify-content: center;
}
.footer .footer__container .footer__content {
  position: relative;
  width: 100%;
  background: url("/assets/img/Black_BG.webp") repeat;
  border-top: 15px solid transparent;
  border-bottom: none;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 70px);
          clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 70px);
}
.footer .footer__container .footer__content .footer__frame {
  padding-top: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: url("/assets/img/yellow-bg.webp");
  background-size: cover;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 70px);
          clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 70px);
}
.footer .footer__container .footer__content .footer__frame .frame__dash {
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
  width: 100%;
  padding: 38px 55px 42px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  -o-border-image: url("/assets/img/white_Dash.png") 15/15px round;
     border-image: url("/assets/img/white_Dash.png") 15/15px round;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__social {
  display: flex;
  gap: 30px;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__social .social__link {
  transition: scale 0.2s;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__social .social__link:hover {
  scale: 1.2;
}
@media (max-width: 680px) {
  .footer .footer__container .footer__content .footer__frame .frame__dash .frame__social {
    justify-content: space-around;
    width: 100%;
    gap: 10px;
  }
}
@media (max-width: 568px) {
  .footer .footer__container .footer__content .footer__frame .frame__dash .frame__social {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }
}
@media (max-width: 413px) {
  .footer .footer__container .footer__content .footer__frame .frame__dash .frame__social {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__contacts {
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__contacts .contacts__description {
  color: #000;
  font-family: "Core Sans A", sans-serif;
  font-size: 14px;
  line-height: 178%;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__contacts .contacts__tel {
  color: #ff6b00;
  font-family: "Baloo Cyrillic", sans-serif;
  font-size: 30px;
  line-height: 83%;
  transition: color 0.3s, box-shadow 0.4s;
}
.footer .footer__container .footer__content .footer__frame .frame__dash .frame__contacts .contacts__tel:hover {
  color: #ff1f00;
  box-shadow: 0px 22px 60px -13px #ee1103;
}
@media (max-width: 568px) {
  .footer .footer__container .footer__content .footer__frame .frame__dash {
    padding: 28px 21px;
  }
}
@media (max-width: 476px) {
  .footer .footer__container .footer__content .footer__frame {
    -webkit-clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 35px);
            clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 35px);
    padding-top: 40px;
  }
}
@media (max-width: 476px) {
  .footer .footer__container .footer__content {
    -webkit-clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 35px);
            clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 35px);
    border-top: 8px solid transparent;
  }
}
.footer .footer__container .footer__title {
  position: absolute;
  top: -65px;
  max-width: 1175px;
  width: 70%;
  transform: rotate(1.63deg);
}
@media (max-width: 1500px) {
  .footer .footer__container .footer__title {
    top: -30px;
    transform: rotate(3.33deg);
  }
}
@media (max-width: 1280px) {
  .footer .footer__container .footer__title {
    top: -20px;
  }
}
@media (max-width: 1024px) {
  .footer .footer__container .footer__title {
    top: -5px;
  }
}
@media (max-width: 768px) {
  .footer .footer__container .footer__title {
    top: 5px;
    width: 80%;
  }
}
@media (max-width: 476px) {
  .footer .footer__container .footer__title {
    top: 0px;
    transform: rotate(5.33deg);
    width: 90%;
  }
}

.button {
  border-radius: 20px;
  background: #ff6b00;
  box-shadow: 0px 22px 24.6px -13px #b05704;
  display: inline-flex;
  padding: 26px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "Core Sans A", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  transition: background 0.3s, box-shadow 0.3s;
}
.button:hover {
  background: #ff1f00;
  box-shadow: 0px 22px 60px -13px #ee1103;
}
@media (max-width: 568px) {
  .button {
    padding: 20px 28px;
  }
}/*# sourceMappingURL=main.css.map */