.products .products__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products .products__container .products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.products .products__container .products__header .header__title {
  color: #0d0a2d;
  font-size: 64px;
  max-width: 875px;
}
@media (max-width: 1280px) {
  .products .products__container .products__header .header__title {
    font-size: 48px;
    max-width: 70%;
  }
}
@media (max-width: 1024px) {
  .products .products__container .products__header .header__title {
    font-size: 36px;
    max-width: 70%;
  }
}
@media (max-width: 768px) {
  .products .products__container .products__header .header__title {
    font-size: 28px;
    max-width: 70%;
  }
}
@media (max-width: 476px) {
  .products .products__container .products__header .header__title {
    max-width: 100%;
    text-align: center;
  }
}
.products .products__container .products__header .header__btn {
  display: flex;
  position: relative;
  gap: 12px;
}
.products .products__container .products__header .header__btn .swiper-button-prev {
  width: 60px;
  position: relative;
  transform: rotate(180deg);
  color: #130f26;
  transition: color 0.3s;
}
.products .products__container .products__header .header__btn .swiper-button-prev:hover {
  color: #ff6b00;
}
.products .products__container .products__header .header__btn .swiper-button-prev::after {
  display: none;
}
@media (max-width: 768px) {
  .products .products__container .products__header .header__btn .swiper-button-prev {
    width: 42px;
  }
}
@media (max-width: 476px) {
  .products .products__container .products__header .header__btn .swiper-button-prev {
    display: none;
  }
}
.products .products__container .products__header .header__btn .swiper-button-next {
  width: 60px;
  position: relative;
  color: #130f26;
  transition: color 0.25s;
}
.products .products__container .products__header .header__btn .swiper-button-next:hover {
  color: #ff6b00;
}
.products .products__container .products__header .header__btn .swiper-button-next::after {
  display: none;
}
@media (max-width: 768px) {
  .products .products__container .products__header .header__btn .swiper-button-next {
    width: 42px;
  }
}
@media (max-width: 476px) {
  .products .products__container .products__header .header__btn .swiper-button-next {
    display: none;
  }
}
@media (max-width: 768px) {
  .products .products__container .products__header .header__btn {
    gap: 40px;
  }
}
.products .products__container .swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.products .products__container .swiper .box-black {
  border: 12px solid transparent;
  border-radius: 47px;
}
.products .products__container .swiper .box-black .box-main {
  padding: 10px;
}
@media (max-width: 768px) {
  .products .products__container .swiper .box-black {
    border: 8px solid transparent;
    border-radius: 42px;
  }
}
.products .products__container .swiper .product__header {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 50px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-3deg);
}
.products .products__container .swiper .product__header::after {
  position: absolute;
  content: attr(data-info);
  font-size: 24px;
}
@media (max-width: 1280px) {
  .products .products__container .swiper .product__header::after {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .products .products__container .swiper .product__header::after {
    font-size: 24px;
  }
}
@media (max-width: 650px) {
  .products .products__container .swiper .product__header::after {
    font-size: 18px;
  }
}
@media (max-width: 476px) {
  .products .products__container .swiper .product__header::after {
    font-size: 22px;
  }
}
.products .products__container .swiper .swiper-wrapper {
  height: initial;
}
.products .products__container .swiper .swiper-slide {
  height: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .products__container .swiper .swiper-slide .box-black {
  height: 100%;
}
.products .products__container .swiper .swiper-slide .box-black .box-main {
  height: 100%;
}
.products .products__container .swiper .swiper-slide .box-black .box-main .box-dash {
  height: 100%;
}
.products .products__container .swiper .swiper-slide .product {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  text-align: center;
}
.products .products__container .swiper .swiper-slide .product .product__name {
  margin-top: 5px;
  padding: 0 10px;
}
.products .products__container .button {
  white-space: normal;
}/*# sourceMappingURL=products.css.map */